*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.the-white{
    color: #fff!important;
}
.header {
    background-color: #000;
    width: 100%;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav li {
    list-style-type: none;
    display: inline-block;
    line-height: 46px;
    position: relative;
}
.nav li a{
    text-decoration: none;
}
.nav >li a {
    text-transform: uppercase;
    display: inline-block;
    color:#fff;
    padding: 0 12px;
}
.nav >li:hover >a {
    background: #ccc;
    color: #000;
}
.sub-nav{ 
    display: none;
    background-color: #fff;
}
.sub-nav {
    position: absolute;
   
}  
.nav li:hover .sub-nav{
    display: block;
}
.sub-nav li:hover{
    display: block;
    background-color: #ccc;
}
.sub-nav li a{
    color: #000;
}
.icon-search {
    float: right;
    font-size: 16px ;
    color: #fff;
    padding: 15px 12px;
    clear: both;
}
.icon-search:hover{
    background-color: red;
    cursor: pointer;
}
.nav{
    display: inline-block;
}
#slider{
    position: relative;
    margin-top: 46px;
    background: #fff;
    padding-top: 50%;
    background: url(/picture/chicago.jpg) no-repeat  top center / contain ;
}
.text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    
}
.text-header{
    padding: 10px 0;
    font-size: 24px;
}
.text-cte{
    padding: 15px 15px;
    font-size: 20px;
    font-style: italic;
}
#content .about-section{
    width: 800px;
    margin: auto;
    padding-top: 64px;
}
#content .heading-section{
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 10px 0;
}
#content .sub-heading-section{
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    margin: 15px 0 ;
}
#content .description{
    text-align: justify;
    line-height: 1.4;
}
#content .team-section{
    margin: 48px 0 ;
    
}
#content .member-band{
    float: left;
    text-align: center;
    width: 33.33333%;
}
#content .name{
    padding: 15px 0;
    font-size: 15px;
}
#content .member{
    height: 135px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;
}
.tour-section .ticket-list{
    background-color: #fff;
    list-style-type: none;
    margin-top: 30px;
}
.ticket-list li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.ticket-list .quantity{
    padding: 0 8px;
    background-color: red;
    color: #fff;
    margin-left: 15px;
}
.ticket-list .number{
    float: right;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    padding: 2px 8px;
}
#content .tour-place{
    margin-top: 32px;
   margin-left: -8px;
   margin-right: -8px;
   padding-bottom: 90px;
}
.tour-place .list-place{
    float: left;
    width: 33.333333%;
    padding: 0 8px;
}
.tour-place .place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 8px 20px ;
    color: #000;
}
.list-place .place{
    width: 100%;
}
.list-place .name-place{
    margin-top: 15px;
}
.list-place .date-place{
    opacity: 0.6;
    margin-top: 15px;
}
.list-place .place-about{
    margin: 15px 0;
    line-height: 1.5;
    
}
.list-place .buy{
    display: inline-block;
    padding: 11px 16px;
   background-color: #000;
   color: #fff;
   text-decoration: none;
}
.list-place .buy:hover{
    color: #000;
    background-color: #ccc;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}